<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{pageTitle}}</title>
</head>
<body>
    <h1>This is the about page bitchas! </h1>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat cumque earum minus fugiat at atque beatae dolorum voluptatem tenetur, rerum doloremque perspiciatis vero ut, sunt aliquam amet fugit ab obcaecati! Consequatur maiores nemo et sequi ipsa libero molestias corrupti optio dolores! Quaerat autem blanditiis quod quia! Harum cupiditate placeat distinctio animi id voluptate deleniti pariatur ea vel, nobis error incidunt vitae in quod assumenda suscipit optio voluptatum asperiores laborum ipsam autem magnam corporis praesentium? Nemo quidem eveniet harum in doloribus officia quibusdam doloremque ipsa? Recusandae alias, cupiditate illo rerum, non obcaecati ad deserunt, unde explicabo aut velit sequi consequuntur eveniet eaque. Velit explicabo, esse dolores perferendis illum accusantium! Veniam incidunt rerum qui omnis ullam mollitia quo architecto voluptatibus, pariatur, voluptates ipsam tempora aspernatur iusto. Aliquid aperiam veniam rem? Nam suscipit et, neque rem maiores vero. Consequatur ea asperiores vel dolore ut earum ipsum laudantium animi tempore odit. Exercitationem iusto similique quisquam deleniti facilis maiores voluptas omnis sunt possimus repellat dolore eveniet ipsa error minima porro beatae iure, veritatis nihil consectetur doloremque rerum minus neque. Pariatur dolore ducimus dolores laborum, ipsum veniam laboriosam totam et doloremque non libero atque in excepturi, magnam quas, officia asperiores architecto harum! Aliquid repellat commodi amet.</p>
    <footer>{{currentYear}}</footer>
</body>
</html>